doctype

head
	meta(charset='utf-8')
	title Hello World
	meta(name='viewport', content='width=device-width, initial-scale=1')
	link(rel='stylesheet', href='main.css')
	script(src='main.js')

body
	script.
		var app = Elm.fullscreen(Elm.Main)
